@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --base: #0b0033;
  --base-secondary: #0b0033b7;
  --un-base: #ebe6ff;
  --un-base-secondary: #ebe6ffd8;

  --my-blue: #0000ff;

  --svg-color: #016a80;

  --accent-border: #3bf004;
  --noaccent-border: #208800c9;

  --wyklad: #465cac;
  --cl: #b4a156;
  --konserwatorium: #9848ac;
  --au: #39b175;

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #eeebfc;
    --un-base: #0b0033;
    --un-base-secondary: #303030ab;
    --base-secondary: #b1adc0e8;
    --my-blue: rgb(182, 238, 255);

    --svg-color: #00b8db;

    --wyklad: #9bb2fd;
    --cl: #ffeea8;
    --konserwatorium: #e89cfd;
    --au: #9bfccb;

    --accent-border: #62ad62;
    --noaccent-border: #42583d;

    --background: rgb(22, 22, 22);
    --foreground: #fff;
  }
}

select::placeholder,
input::placeholder,
[data-placeholder] {
  color: var(--base-secondary);
}

body {
  color: var(--base);
}

.set-bg-base {
  background-color: var(--background);
}

.border-separate {
  border-bottom: 1px solid var(--base-secondary);
}

.set-blue {
  color: var(--my-blue);
}

.set-border-blue {
  border: 1px solid var(--my-blue);
}

.set-primary-color {
  color: var(--base);
}

.set-secondary-color {
  color: var(--base-secondary);
}

.set-unbase-background {
  background-color: var(--un-base-secondary);
}

.set-unprimary-color {
  color: var(--un-base);
}

.set-fill {
  fill: var(--my-blue);
}

.set-stroke {
  fill: var(--my-blue);
}

.set-arrow-fill {
  fill: var(--base);
}

.set-day-svg-stroke {
  fill: var(--svg-color);
}

.set-day-svg-fill {
  fill: var(--svg-color);
}

.set-color-svg {
  color: var(--svg-color);
}

.set-day-size {
  width: 22px;
  height: 22px;
}

.set-button-bg {
  background-color: var(--base-secondary);
}

.set-button-bg:hover {
  background-color: var(--base);
}

.set-border-wyklad {
  border-color: transparent;
  border-right: 8px solid var(--wyklad);
}

.set-background-wyklad {
  background-color: var(--wyklad);
}

.set-color-wyklad {
  color: var(--wyklad);
}

.set-border-cl {
  border-color: transparent;
  border-right: 8px solid var(--cl);
}

.set-background-cl {
  background-color: var(--cl);
}

.set-color-cl {
  color: var(--cl);
}

.set-border-konserwatorium {
  border-color: transparent;
  border-right: 8px solid var(--konserwatorium);
}

.set-background-konserwatorium {
  background-color: var(--konserwatorium);
}

.set-color-konserwatorium {
  color: var(--konserwatorium);
}

.set-border-au {
  border-color: transparent;
  border-right: 8px solid var(--au);
}

.set-background-au {
  background-color: var(--au);
}

.set-color-au {
  color: var(--au);
}

.set-day-border {
  border-bottom: 3px solid var(--noaccent-border);
}

.set-today-border {
  border-bottom: 3px solid var(--accent-border);
}

.set-background-day {
  background-color: var(--un-base-secondary);
}

.set-lesson-bg {
  background-color: var(--background);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
